.job-card-container {
  background-color: #272727;
  font-family: 'Roboto';
  color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0px;
}
.company-image {
  width: 120px;
}
.logo-job-star-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.star-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.loc-jobtype-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.star {
  color: #fbbf24;
}
.loc-job-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.description-heading {
  font-size: 28px;
}
.description-para {
  font-size: 18px;
}
.loc-job-lpa-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.lpa-heading {
  font-size: 22px;
}
.rating-para {
  margin: 0px;
}
.loader-container {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
